<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-get-students></app-get-students> -->
<a routerLink="/reactive">Reactive Form</a> <br>
<app-geolocation></app-geolocation>
<app-observable></app-observable>
<!-- <app-header></app-header>  -->
<!-- <a routerLink="/login">Login</a>
<br>
<a routerLink="/login2">Login2</a>
<br>
<a routerLink="/blog">Blog</a>
<br>
<a routerLink="/footer" >Footer</a> <br>

<a routerLink="/blog/1" >Blog 1</a> <br>
<a routerLink="/blog/2">Blog 2</a> <br>
<a routerLink="/blog/3">Blog 3</a> <br>
<a routerLink="/reactive">Reactive Form</a> <br>

<button class="btn btn-primary" (click)="call()">click To get Data </button>
<ul *ngFor="let item of fectedData">
  <li>{{item.name}}</li>
</ul> 
<button class="btn btn-primary" (click)="post()">click  to post Data </button>  -->
<router-outlet></router-outlet>

 <!-- <h1 class="myheader">British Telecom</h1>
<p class="myheader">hjgfhsg</p>
<button class="btn btn-primary" (click)="call()">click </button>
<p>Today is {{today | date}}</p>
   <p>Or if you prefer, {{today | date:'fullDate'}}</p>
   <p>The time is {{today | date:'h:mm a z'}}</p>
   <p>{{myName | uppercase}}</p>
   <p>{{myName | customPipe}}</p>
   <p>{{myTemp | tempconvertor:"INR":"EUR"}}</p> 

  <app-footer [item]="currentItem" (updateChild)="updateData($event)"></app-footer>

  <input type="text" [(ngModel)]="myName">
  <p>{{myName}}</p>
  <p>Child says :{{data}}</p> 

 <div>
  <h1>Good morning </h1>
  <input type="text" #myinp [value]="title" >
  <button (click)=
  "getDetails(myinp.value)">Click 
</button>
<p [style.color]="mycolor">Hello {{myName}}</p>
<p *ngIf="status; then myif else myelse" ></p>
<ng-template #myif>
      <h1>show true</h1>
</ng-template>
<ng-template #myelse>
  <h1>show false</h1>
</ng-template>
<ul *ngFor="let i of Person">
  <li>{{i.id}}----{{i.name}}-----{{i.age}}</li>
</ul>
</div>  -->